<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs') %>

<main>
    <%- include('../../includes/messages.ejs') %>

    <h1>Checkout</h1>
</main>

<%- include('../../includes/end.ejs') %>