  <% if(infoMessage) { %>
  <div class="user-message user-message--info"><%= infoMessage %></div>
  <% } %> 
  <% if(errorMessage) { %>
  <div class="user-message user-message--error"><%= errorMessage %></div>
  <% } %>