<%- include('../../includes/head.ejs') %>

<%- include('../../includes/navigation.ejs') %>

<main>
    <form class="product-form" action="/admin/edit-product" method="POST">
        <%- include('../../includes/mongodb/product-form.ejs', {product: product}) %>

        <button class="btn" type="submit">Update Product</button>
    </form>
</main>
    
<%- include('../../includes/end.ejs') %>