<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

<main>
    <% if(prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
                <%- include('../includes/product-card.ejs',{product: product, mode:'admin'}) %>
            <% } %>
        </div>
    <% } else { %> 
        <h1>No Product Available!</h1>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>